In [28]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt

In [29]:
df_reviews = pd.read_json("IMDB_reviews.json", lines=True)

In [30]:
df_reviews.head()

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
0,10 February 2006,tt0111161,ur1898687,True,"In its Oscar year, Shawshank Redemption (writt...",10,A classic piece of unforgettable film-making.
1,6 September 2000,tt0111161,ur0842118,True,The Shawshank Redemption is without a doubt on...,10,Simply amazing. The best film of the 90's.
2,3 August 2001,tt0111161,ur1285640,True,I believe that this film is the best story eve...,8,The best story ever told on film
3,1 September 2002,tt0111161,ur1003471,True,"**Yes, there are SPOILERS here**This film has ...",10,Busy dying or busy living?
4,20 May 2004,tt0111161,ur0226855,True,At the heart of this extraordinary movie is a ...,8,"Great story, wondrously told and acted"

In [31]:
display(df_reviews.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573913 entries, 0 to 573912
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   review_date     573913 non-null  object
 1   movie_id        573913 non-null  object
 2   user_id         573913 non-null  object
 3   is_spoiler      573913 non-null  bool
 4   review_text     573913 non-null  object
 5   rating          573913 non-null  int64
 6   review_summary  573913 non-null  object
dtypes: bool(1), int64(1), object(5)
memory usage: 26.8+ MB

None

In [32]:
display(df_reviews.is_spoiler.value_counts())

False    422989
True     150924
Name: is_spoiler, dtype: int64

In [33]:
display(df_reviews.movie_id.value_counts())

tt0468569    4845
tt0111161    4361
tt0167260    2729
tt0137523    2480
tt0068646    2137
             ...
tt0107719      12
tt6294822      11
tt0104014       5
tt0201265       4
tt0114142       2
Name: movie_id, Length: 1572, dtype: int64

In [34]:
df_reviews.drop(["review_date" , "user_id","rating", "review_summary"], axis="columns",inplace=True)

In [35]:
df_reviews.head()

    movie_id  is_spoiler                                        review_text
0  tt0111161        True  In its Oscar year, Shawshank Redemption (writt...
1  tt0111161        True  The Shawshank Redemption is without a doubt on...
2  tt0111161        True  I believe that this film is the best story eve...
3  tt0111161        True  **Yes, there are SPOILERS here**This film has ...
4  tt0111161        True  At the heart of this extraordinary movie is a ...

In [36]:
movie1 = pd.DataFrame()

In [37]:
movie1 = df_reviews.loc[df_reviews['movie_id'] == "tt0468569"]

In [38]:
movie1.head().reset_index()

,index,movie_id,is_spoiler,review_text
0,7068,tt0468569,True,I got to see The Dark Knight on Wednesday nigh...
1,7069,tt0468569,True,I must say I was excited for this movie since ...
2,7070,tt0468569,True,I thought Batman Begins was a very well concei...
3,7071,tt0468569,True,I think the big question...or the question eve...
4,7072,tt0468569,True,(Synopsis) Bruce Wayne/Batman (Christian Bale)...

# Text Preprocessing

## Tokenization

This process divides a large piece of continuous text into distinct units or tokens basically this process is often known as Tokenization.

In [22]:
from nltk.tokenize import word_tokenize

In [23]:
df_reviews['review_text'] = df_reviews['review_text'].apply(word_tokenize)

KeyboardInterrupt:

In [ ]:
print(df_reviews.head())

## Stemming

This is the idea of removing the suffix of a word and reducing different forms of a word to a core root.
eg. waiting , waited , waits -> wait

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [ ]:
def stem_it(text):
    return[porter.stem(word) for word in text]

In [ ]:
df_reviews['text_reviews'] = df_reviews['text_reviews'].apply(stem_it)

In [ ]:
df_reviews.head()

## Stopword Removal

A stop word is a commonly used word (such as “the”, “a”, “an”, “in”) that a search engine has been programmed to ignore.

In [ ]:
def stop_it(text):
    dt = [word for word in text if len(word)>2]
    return dt

In [ ]:
df_reviews['text_review'] = df_reviews['text_review'].apply(stop_it)

In [ ]:
print(df_reviews.head())

In [ ]:
df_reviews['text_review'] = df_reviews['text_review'].apply(' '.join)